{% extends 'base.html' %}
{% load static %}

{% block title %}All Blog{% endblock %}

{% block content %}
<div class="container">
    {% for post in posts %}
        {% if forloop.first or forloop.counter0|divisibleby:3 %}
        <div class="row g-4 mb-3">
        {% endif %}

        <div class="col-md-4">
            <div class="card h-100 ">
                {% if post.image %}
                    <img src="{{ post.image.url }}" 
                         class="card-img-top" 
                         alt="Image" 
                         style="height: 180px; object-fit: cover;">
                {% else %}
                    <img src="https://via.placeholder.com/300x180" 
                         class="card-img-top" 
                         alt="Placeholder Image" 
                         style="height: 180px; object-fit: cover;">
                {% endif %}
                <div class="card-body text-dark">
                    <h5 class="card-title">
                        <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                    </h5>
                    <p class="card-text">
                        <small>By {{ post.author.username }} on {{ post.created_at|date:"M d, Y" }}</small>
                    </p>
                </div>
            </div>
        </div>

        {% if forloop.counter|divisibleby:3 or forloop.last %}
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
